.foot{
    width: 100%;
    height: auto;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box1{
    width: 20%;
    height: 120px;
    /* background-color: aquamarine; */
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    color: white;
}

.box1 h4{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 100;
    text-align: center;
    /* font-weight: 400; */
}

.day h1{
    font-size: 40px;
    font-weight: 100;
}

.box2{
    width: 30%;
    height: 120px;
    /* background-color: aquamarine; */
}

.box2 h2{
    font-size: 35px;
    /* width: 100%; */
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    text-align: center;
}

.box3{
    width: 20%;
    height: 120px;
    /* background-color: aquamarine; */
}

.box3 h3{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 100;
    text-align: center;
}

button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid rgb(255, 252, 252);
    background-color: transparent;
    
}

button i{
    color: white;
    font-size: 20px;
}

.butn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
}

button:hover{
    background-color: rgb(253, 41, 92);;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .foot{
        display: flex;
        flex-direction: column;
    }

    .box1{
        width: 50%;
        margin: auto;
    }
    .box2{
        width: 50%;
        margin: auto;
    }
    .box3{
        width: 50%;
        margin: auto;
    }
}